@import 'https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.1/css/all.min.css'

@import 'palette.styl'

.ps
	.ps__rail-x:hover, .ps__rail-y:hover,
	.ps__rail-x:focus, .ps__rail-y:focus,
	.ps__rail-x.ps--clicking, .ps__rail-y.ps--clicking
		background-color transparent

.prism-editor__textarea:focus
	outline none

.text-muted
	opacity 0.5 !important

.text-error
	color $danger-color !important
