$border-radius = 6px
$box-shadow = 0 4px 8px 0px rgba(black, 0.15)
$code-font-family = source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
$code-font-size = 0.85em
$code-line-height = 1.5
$code-text-color = #e0e0e0
$danger-color = #e05025
